# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/system/cache/
/system/logs/
/system/logs/my_mego_log.log
